html {
	margin: 0;
}

#main-container {
	background: linear-gradient(0deg, rgba(50, 181, 205, 1) 0%, rgba(199, 137, 137, 1) 50%, rgba(252, 176, 69, 1) 100%);
	height: 100vh;
}

@media (min-width: 700px) {
	#main-container {
		background: linear-gradient(
			0deg,
			rgba(50, 181, 205, 1) 0%,
			rgba(199, 137, 137, 1) 50%,
			rgba(252, 176, 69, 1) 100%
		);
		height: 140vh;
	}

	#picture {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 20px 30px 0px 30px;
		margin: 0px 10px 0px 10px;
	}
	#idDiv {
		text-align: center;
		padding: 10px 10px;
		background-color: rgba(255, 254, 254, 0.3);
		border-radius: 15px;
		font-family: 'Playfair Display', serif;
		margin-bottom: 20px;
	}
	#title {
		font-size: 40px;
	}

	#symbol {
		color: white;
	}
	#form-container {
		padding: 20px 10px;
		font-size: 20px;
		background-color: rgba(255, 254, 254, 0.3);
		border-radius: 15px;
		font-family: 'Playfair Display', serif;
		text-align: center;

	}
	li {
		list-style: none;
	}

	#results {
		margin: 20px 30px 0px 30px;
		background-color: rgba(255, 254, 254, 0.3);
		padding: 30px;
		height: 55vh;
		border-radius: 15px;
		font-family: 'Quicksand', sans-serif;
	}
	#container {
		height: 45vh;
		padding: 0px 40px;
		border-radius: 15px;
		background-image: url('../images/background.png');
		background-repeat: no-repeat;
	}

	#entryHolder {
		margin: 0px 10px 20px 10px;
	}

	#inner {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas: 'place topright' 'left clouds';
		height: 20vh;
		color: white;
		padding: 5px;
	}

	#temp {
		text-align: right;
		font-size: 70px;
	}

	#placeDiv {
		font-size: 30px;
		grid-area: place;
	}
	#tempDiv {
		font-size: 17px;
		margin: 10px;
		padding: 10px;
		grid-area: topright;
	}
	#minMaxTemp {
		text-align: right;
		font-size: 27px;
	}
	#clouds {
		font-size: 100px;
		grid-area: clouds;
		text-align: right;
	}
	#place {
		font-size: 50px;
	}
	#date {
		font-size: 20px;
	}
	#time {
		font-size: 20px;
	}

	/* .myButton {
		box-shadow: inset 0px 1px 0px 0px #ffffff;
		background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
		background-color: #ededed;
		border-radius: 6px;
		border: 1px solid #dcdcdc;
		display: inline-block;
		cursor: pointer;
		color: black;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 6px 24px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #ffffff;
	}
	.myButton:hover {
		background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
		background-color: #dfdfdf;
	}
	.myButton:active {
		position: relative;
		top: 1px;
	} */

	.myButton {
		box-shadow:inset 0px 1px 0px 0px #fff6af;
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		background-color:#ffec64;
		border-radius:6px;
		border:1px solid #fcb84a;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:Helvetica; 
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
	}
	.myButton:hover {
		background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
		background-color:#ffab23;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
	img {
		height: 300px;
		width: 400px;
		grid-area: pic;
		border-radius: 3%;
		position: relative;
	}

	#0 {
		font-size: 40px;
	}
}
