html {
    margin: 0;
}

#main-container {
    background: linear-gradient(0deg, rgba(50,181,205,1) 0%, rgba(199,137,137,1) 50%, rgba(252,176,69,1) 100%);
    height: 110vh;  
    font-family: 'Playfair Display', serif;
}

@media (min-width: 700px){

    #main-container {
        background: linear-gradient(0deg, rgba(50,181,205,1) 0%, rgba(199,137,137,1) 50%, rgba(252,176,69,1) 100%);
        height: 140vh;  
        font-family: 'Playfair Display', serif;
    }

    #picture {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 60px;
        margin: 0px 50px 10px 50px;
    }
    #form-container {
        justify-content: center;
        padding: 20px 10px;
        font-size: 20px;
        background-color: rgba(255, 254, 254, 0.3);
        border-radius: 15px;
    }
    form {
        text-align: center;
    }

   
    #results {
        margin: 20px 0px;
        background-color: rgba(255, 254, 254, 0.3);
        padding: 30px;
        height: 35vh;
        border-radius: 15px;
    }
    #container {
        height: 30vh;
        padding: 20px;
        border-radius: 15px;
        background-image: url('../images/background.png');
        background-repeat: no-repeat;
    }

    #inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'place topright' 'clouds right'; 
        height: 28vh;
        color: white;
        padding: 10px;
      
    }

    #temp {
        margin: 10px;
        padding: 10px;
        grid-area: topright;
        text-align: right;
        font-size: 60px;
        
    }  

    #placeDiv {
        font-size: 20ps;
        margin: 10px;
        padding: 10px;
        grid-area: place;
    }
    /* #text {
        font-size: 17px;
        margin: 10px;
        padding: 10px;
        grid-area: clouds;
        text-align: left;
        
    }  */
    #clouds {
        font-size: 17px;
        margin: 10px;
        padding: 10px;
        grid-area: clouds;
        text-align: right;
        
    }
    #place {
        grid-area: place;
        font-size: 35px;
    }



    .myButton {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        background-color:#ededed;
        border-radius:6px;
        border:1px solid #dcdcdc;
        display:inline-block;
        cursor:pointer;
        color:black;
        font-family:Arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        background-color:#dfdfdf;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    img {
        height: 300px;
        width: 400px;
        grid-area: pic;
        border-radius: 3%;
        position: relative;
    }

    #0 {
        font-size: 40px;
    }

}